<style>
	.container { width: 800px; font-family: Arial, Helvetica, sans-serif; display:
	flex; flex-direction: column; align-items: center;} span { margin: 10px; }
</style>

<div class='container'>
	<span>Hello, {{name}}</span>
	<br />

	<span>You requested a password recover</span>
	<span>To change the password follow this link
		<a href={{link}}>{{link}}</a>
	</span>

	<span>If you're not the one o requested the password recover then just ignore
		this e-mail 😅.</span>

	<strong>Thank You!</strong>
	<h3>Team | <strong>Courses Platform API</strong></h3>
</div>